.sidebar_hide {
    width: 0;
    min-height: 100%;
    background-color: rgba(252, 11, 91, 0);
}

.sidebar_active {
    width: 200px;
    min-height: 100%;
    background-color: rgba(119, 119, 119, 0.226);
}

.hide {
    position: fixed;
    justify-content: center;
    right: 60px;
    z-index: 10;
}

.nav-item {
    padding: 5px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.nav{
    transition: 3.5s;
    overflow-x: hidden;
    z-index: 1;
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
}

.arrowIcon {
    z-index: 10;
    right: 0px;
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    color: rgba(37, 56, 41, 0.219);
}

.arrowIcon:hover {
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    color: rgba(48, 167, 48, 0.562);
}

.sliderDiv h3 {
    height: 15%;
}

h3 {
    font-weight: 40px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}